<%- include('../layouts/header', {title:'Customers'}); -%>

<div class="container">
    <%- include('../partials/navbar') %>

    <%- include('../partials/notifications') %>

    <h1>Add New Customer</h1>

    <div class="mt-20"></div>

    <form action="/customers" method="POST">
        <div class="form-example">
            <label>Full Name: </label>
            <input type="text" name="name" required>
        </div>
        <br/>
        <div class="form-example">
            <label>Email: </label>
            <input type="email" name="email" required>
        </div>
        <br/>
        <div class="form-example">
            <label>Phone: </label>
            <input type="text" name="phone" required>
        </div>
        <br/>
        <div class="form-example">
            <label>Address: </label>
            <input type="text" name="address" required>
        </div>
        <br/>
        <div class="form-example">
            <label">Marital Status: </label>
            <select name="marital_status">
                <option value="">-- Select --</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
            </select>
        </div>
        <br/>
        <div>
            <label>Date of Birth: </label>
            <input type="date" name="dob" id="dob" required>
        </div>
        <br/>
        <div>
            <label">ID Card Type:</label>
            <select name="id_card_type" required>
                <option value="">-- Select --</option>
                <option value="passport">Passport</option>
                <option value="nhia">NHIA</option>
                <option value="drivers_license">Driver's License</option>
            </select>
        </div>
        <br/>
        <div>
            <label">ID Card Number:</label>
            <input type="text" name="id_card_number" placeholder="e.g. 1234567890" required>
        </div>
        <br/>
        <div>
            <label>Employment Status:</label>
            <select class="shadow-none" name="employment_status">
                <option value="">-- Select --</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <br/>
        <div>
            <label>Name of Employer:</label>
            <input type="text" name="employer_name" placeholder="e.g. XYZ Company" required>
        </div>

        <br/><br/>

        <div>
            <input type="submit" value="Add Customer">
        </div>
    </form>
</div>

<%- include('../layouts/footer'); -%>